:root{
  --body-background: linear-gradient(rgba(7, 9, 168, 1),rgba(0, 85, 192, 0.8), rgba(68, 114, 255, 1));
  --font-tittle: 'K2D', sans-serif; 
  --font-tittle-size: 40px;
--font-color-main: rgb(255, 255, 255);
--main-shadow:  0 0 5px rgba(0, 0, 0, 0.5);  
--box-shadow-hover: 0 4px 8px #00000033;
--box-hover-scale: 1.1;
}


body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
    overflow-x: hidden; /*barra horizontal oculta */
    margin: 0;
   background: var(--body-background);
   background-repeat: no-repeat;
   background-size: cover;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 5%;
}

.logo-title {
    display: flex;
    align-items: center;
    text-decoration: none;
}

#logo {
    filter: drop-shadow(var(--box-shadow-hover));
    border-radius: 50%;
    margin-right: 20px;
}

.titulo {
    color: var(--font-color-main);
    font-family: var(--font-tittle);
    font-size:var(--font-tittle-size);
    text-shadow: 0.5px 0.5px 0 rgba(0, 0, 0, 0.8); 
    -webkit-text-stroke: 0.5px black;
}

.image-user {
    width: 100px;
    height: 100px;
    border-radius: 50%;  
    border: 2px solid #fff;
    overflow: hidden;
}

.image-user:hover {
    transform: scale(var(--box-hover-scale));
    filter: drop-shadow(var(--box-shadow-hover));
    transition: var(--transition);
    cursor: pointer;
    box-shadow: var(--main-shadow);
}

.image-user img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.modal{
display: none;
align-items: center;
justify-content: center;
}
.modal-content {
    background-color: var(--main-bg-color);
    margin: 15% auto;
    padding: 15px 10px;
    border: 1px solid #888;
    width: 80%; 
    max-width: 500px;
    text-align: center;
}
.div-img{
    display: flex;
    justify-content: center;
}

.close-button {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close-button:hover,
.close-button:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}


 
@media (min-width: 768px) {
    header{
        padding: 30px ;
    }
    footer {
        padding: 30px;
    }
    .footer-links a {
        margin: 0 15px;
    }
    .image-user {
        width: 90px;
        height: 90px;}

}

@media (max-width: 768px) {
    .titulo{
        font-size: 40px;
    }
    .textLi{ 
        font-size: 12px;
    }
}

