header{
    position: sticky;
    top: 0;
    z-index: 1000; 
    color: #fff;
    padding: 7px 0;
}

/* Hero Section */
.hero-section {
    text-align: center;
    padding: 40px 20px;
    position: relative;
}

.slogan {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
     color: #3C6975; 
}

.content-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.left-content,
.right-content {
    flex: 1;
    padding: 10px;
}

.left-content img,
.right-content img {
    width: 100%;
    height: auto;
}
#computers{
    text-align: center;
    padding: 40px 20px;
    position: relative;
}

/* Main Content */
.welcome {
    padding: 20px;
    text-align: center;
    background-color: #fff;
    margin: 20px auto;
    max-width: 800px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.welcome h1 {
    margin-bottom: 20px;
}

.welcome p {
    margin-bottom: 20px;
    line-height: 1.6;
}

.welcome-button {
    display: inline-block;
    padding: 10px 20px;
    margin: 5px;
   background-color:  #3C6975; 
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

.welcome-button:hover {
    background-color:  #224149; 
    padding: 12px 22px;
}



/* Responsive Styles */
@media (max-width: 768px) {
    .content-wrapper {
        flex-direction: column;
    }

    .left-content,
    .right-content {
        flex: none;
        width: 100%;
    }

    .menu ul {
        flex-direction: column;
    }

    .menu ul li {
        margin-left: 0;
        margin-bottom: 10px;
    }
}
