.selector-container, .classroom-container, .button-container {
    margin: 20px 0;
}

.building-buttons button, select, .confirmar, .devolucion {
    padding: 10px;
    margin: 5px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: white;
    margin: 10% auto;
    padding: 20px;
    width: 80%;
    max-width: 500px;
    text-align: center;
    border-radius: 10px;
}

.close-button {
    color: red;
    font-weight: bold;
    cursor: pointer;
}
